.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form {
  min-width: 25%;
}
.form-button {
  width: 100%;
}

.navbar-brand {
  width: 45px;
}
